body {
/*background-image: url(../img/bg-header-es6.2.jpg);*/
  background-image: url("../img/header.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #0b0b0b;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}
a {
  color: #e8ac0a;
  text-decoration: none;
}
.alternative-text {
  font-family: Georgia;
  font-style: italic;
}
.wrapper {
  width: 90%;
  margin: 0 5%;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav a {
  display: block;
/*margin-bottom: 10px;
    padding: 15px 0;*/
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}
.main {
  padding: 30px 0;
}
.main article h1 {
  font-size: 2em;
}
.main aside {
  color: #fff;
  padding: 0px 5% 10px;
}
.footer-container footer {
  color: #fff;
  padding: 20px 0;
}
.ie7 .title {
  padding-top: 20px;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.decorator-line {
  position: absolute;
  width: 300px;
  height: 0;
  border-bottom: solid 1px #fdcf0b;
}
.button {
  clear: both;
  display: block;
  margin: auto;
  position: relative;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  width: 200px;
  border: solid 1px #e8ac0a;
  text-align: center;
  text-decoration: none;
  padding: 10px 5px;
  border-radius: 5px;
  font-weight: bold;
  transition: background linear 0.2s;
}
.button:hover {
  background: rgba(253,207,11,0.2);
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.decorator-line.dl-1 {
  transform: rotate(-28deg);
  left: 50%;
  top: 140px;
  width: 800px;
  margin-left: -400px;
}
.decorator-line.dl-2 {
  transform: rotate(-28deg);
  left: 90%;
  top: 70%;
  width: 400px;
  margin-left: -400px;
  opacity: 0.7;
}
.decorator-line.dl-3 {
  transform: rotate(28deg);
  left: 40%;
  top: 45%;
  width: 800px;
  margin-left: -400px;
}
.decorator-line.dl-4 {
  transform: rotate(-28deg);
  left: 20%;
  top: 70%;
  width: 800px;
}
.decorator-line.dl-7 {
  transform: rotate(-70deg);
  right: -30px;
  bottom: 0;
  width: 200px;
  transform-origin: bottom left;
}
body[data-page-type="article"] .dl-7 {
  transform: rotate(-33deg);
  right: 130px;
}
.icon-group {
  position: relative;
  display: block;
  z-index: 1;
  height: 30px;
  text-align: center;
  margin: 10px;
}
.icon-group:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  height: 0;
  width: 100%;
  z-index: 0;
  border-top: solid 1px #808080;
}
.icon-group .icon {
  display: inline-block;
  float: none;
}
.icon {
  background-image: url("../img/icons.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  display: block;
  float: left;
  margin: 2px;
  position: relative;
  text-indent: -999999px;
}
.icon:after {
  content: "";
  width: 0;
  height: 0;
  box-shadow: 0 0 30px 10px #fdcf0b;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s;
}
.icon:hover:after {
  opacity: 1;
}
.icon.portuguese {
  background-position: -9px -5px;
}
.icon.english {
  background-position: -50px -6px;
}
.icon.fb {
  background-position: -75px 0;
}
.icon.tt {
  background-position: -125px 0;
}
.icon.gh {
  background-position: -165px 0;
}
.icon.fb-share {
  background-position: -254px 0;
}
.icon.tt-share {
  background-position: -294px 0;
}
.icon.gp-share {
  background-position: -333px 0;
}
.icon.font-up {
  background-position: -440px 0;
}
.icon.font-down {
  background-position: -476px 0;
}
.icon.contrast {
  background-position: -512px 0;
}
.icon.comments-label {
  background-position: -405px 0;
}
.icon.comments {
  background-position: -550px 0;
}
.icon.bolt {
  background-position: -195px 0;
}
.icon.love {
  background-position: -370px 0;
}
.icon.love:hover:after {
  display: none;
}
.icon.arrow {
  background-position: -580px 0;
  position: absolute;
  bottom: -27px;
  left: 30px;
}
.icon.arrow:hover:after {
  display: none;
}
.author-avatar {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: solid 2px #000;
  float: left;
  margin: 10px 10px 0 -10px;
  background: #fff;
}
.author-block {
  position: relative;
  z-index: 1;
}
.author-block .author-avatar {
  margin-top: 16px;
}
.author-block .author-name {
  color: #e8ac0a;
  font-size: 1.3rem;
  float: left;
  padding: 1.2rem 10px 0 0;
  font-weight: bold;
  text-transform: uppercase;
}
.author-block .icon {
  margin: 0;
  margin-top: 15px;
}
.author-block .author-company {
  display: block;
  clear: both;
  position: relative;
  bottom: 25px;
  left: 45px;
  font-size: 0.7rem;
}
.header-container {
  position: relative;
  height: 365px;
}
.page-options {
  height: 30px;
  margin-top: 5px;
  position: relative;
  z-index: 3;
}
.page-options .languages {
  float: left;
}
.page-options .languages a {
  width: 24px;
  height: 15px;
  padding: 0;
  text-indent: -9999px;
}
.page-options .languages a:hover {
  box-shadow: 0 0 20px #e8ac0a;
}
.page-options .social {
  float: right;
  text-indent: -9999px;
  width: 70px;
}
.page-options .text {
  position: absolute;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
  color: #fff;
  font-style: italic;
}
.navigation-container {
  position: relative;
  width: 100%;
}
.navigation-container h1 {
  margin: 0;
  padding: 0;
  text-indent: -9999999px;
}
.es6-logo {
  position: absolute;
  left: 50%;
  z-index: 0;
  width: 234px;
  margin-left: -117px;
  top: -30px;
}
.navigation a {
  font-weight: bold;
  float: left;
  color: #000;
  text-transform: uppercase;
  position: relative;
  border-bottom: solid 1px transparent;
}
.navigation a:before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/icons.png");
  background-position: -200px;
  width: 30px;
  height: 30px;
  left: 50%;
  margin-left: -10px;
  top: -1.5em;
  opacity: 0;
  transition: all linear 0.2s;
}
.navigation a:hover {
  color: #fff;
  border-bottom: solid 1px #fff;
}
.navigation a:hover:before {
  top: -1.2em;
/* to adjust its top, simply change the Xrem on .navigation a */
  opacity: 1;
}
.navigation-search {
  float: right;
  position: relative;
}
.navigation-search input[type="submit"] {
  background: transparent;
  color: #e8ac0a;
  font-weight: bold;
  outline: none;
  border: solid 2px #fff;
  width: 40px;
  height: 35px;
  border-radius: 37px 11px 11px 37px/20px 19px 19px 20px;
  position: relative;
  left: -5px;
  top: 12px;
  font-size: 0.7rem;
  transition: background linear 0.2s;
}
.navigation-search input[type="submit"]:hover {
  background: rgba(253,207,11,0.2);
}
.ipt-search-icon {
  background-image: url("../img/icons.png");
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  color: #f00;
  background-position: -223px -3px;
}
#ipt-search {
  color: #000;
  font-style: italic;
  background: transparent;
  border: none;
  border-bottom: solid 2px #fff;
  outline: none;
  padding: 0 5px 5px 30px;
  font-family: Georgia;
  font-size: 0.7rem;
  font-weight: bold;
}
#ipt-search::-webkit-input-placeholder {
/* WebKit browsers */
  color: #000;
}
#ipt-search:-moz-placeholder {
/* Mozilla Firefox 4 to 18 */
  color: #000;
  opacity: 1;
}
#ipt-search::-moz-placeholder {
/* Mozilla Firefox 19+ */
  color: #000;
  opacity: 1;
}
#ipt-search:-ms-input-placeholder {
/* Internet Explorer 10+ */
  color: #000;
}
.popular-searches {
  color: #fff;
  font-size: 0.7rem;
  position: relative;
  top: -5px;
}
.popular-searches a {
  color: #e8ac0a;
  display: inline;
}
.popular-searches a:hover {
  border-bottom: solid 1px;
}
.send-a-post:before {
  content: "";
  color: #f00;
  display: block;
  position: absolute;
  left: 17px;
  top: 7px;
  background-image: url("../img/icons.png");
  width: 30px;
  height: 30px;
  background-position: -200px;
}
.send-a-post:after {
  content: "*using Github";
  display: block;
  position: absolute;
  bottom: -25px;
  left: -3px;
  font-size: 0.6rem;
  text-align: center;
  width: 100%;
  text-transform: none;
  font-family: Georgia;
  font-style: italic;
  font-weight: normal;
}
@media only screen and (min-width: 1140px) {
  .navigation a {
    margin: 80px 1rem;
    font-size: 1.4rem;
  }
  #ipt-search {
    width: 220px;
  }
  .wrapper {
    width: 1026px;
/* 1140px - 10% for margins */
    margin: 0 auto;
  }
  .navigation-search {
    margin: 30px 20px;
  }
}
.main-container {
  position: relative;
  z-index: 5;
  margin-top: -40px;
/*background-color: #0b0b0b;*/
}
.main-container .main {
  padding: 0;
}
.wrapper-label {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
  padding-top: 3rem;
  text-align: center;
  color: #fff;
}
.wrapper-label .icon {
  display: inline-block;
  float: none;
  margin-right: 5px;
}
article {
  position: relative;
  background: #e8ac0a;
  transition: background linear 0.2s;
  float: left;
  padding: 2rem;
}
article.recent h2 {
  font-size: 3.2rem;
  line-height: 3.2rem;
  margin: 2rem 0;
}
article.recent .article-tags {
  margin: 1rem 0;
  font-size: 1rem;
}
article.recent .article-tags li {
  height: 34px;
  line-height: 30px;
}
article.recent address {
  padding: 1rem;
}
article:hover {
  background: #fff;
}
article:hover .article-share {
  opacity: 1;
}
article .article-share {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transition: opacity linear 0.2s;
}
article .article-share a {
  margin: 1px 1px 0 0;
}
article >a {
  color: #000;
  text-decoration: none;
}
article h2,
article h3 {
  font-size: 1.6rem;
  margin: 1rem 0;
  text-transform: uppercase;
}
article h3 {
  margin-top: 0.5rem;
}
article time {
  font-style: italic;
  font-size: 0.7rem;
}
article abstract {
  font-size: 0.8rem;
  line-height: 1rem;
  display: block;
  text-overflow: clip ellipsis;
}
address {
  padding: 0.4rem;
}
address .author-label {
  color: #87732b;
  margin-top: 10px;
  display: block;
  clear: right;
  margin-bottom: -5px;
}
address .author-link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-style: normal;
  display: inline-block;
}
.article-tags {
  list-style: none;
  display: inline-block;
  padding: 0;
  font-weight: bold;
  margin: 0.3rem 0;
  font-size: 0.7rem;
}
.article-tags li {
  float: left;
  border: solid 2px #000;
  padding: 0 5px;
  border-radius: 5px;
  margin: 2px;
  height: 24px;
  line-height: 20px;
}
.article-tags li:hover {
  background-color: #e8ac0a;
}
.article-tags li a {
  color: #000;
  text-decoration: none;
}
.other-articles-container {
  margin-top: 2rem;
  display: none;
}
.more-posts-wrapper {
  display: none;
}
.more-posts-wrapper .btn,
.go-to-top-wrapper .btn {
  margin: 0 auto;
}
.more-posts-wrapper .decorator-line,
.go-to-top-wrapper .decorator-line {
  position: absolute;
  top: 18px;
}
.more-posts-wrapper .dl-5,
.go-to-top-wrapper .dl-5 {
  left: 10px;
}
.more-posts-wrapper .dl-6,
.go-to-top-wrapper .dl-6 {
  right: 10px;
}
.go-to-top-wrapper {
  padding-bottom: 60px;
}
.main-article {
  padding: 10px;
}
.main-article article {
  margin: 0;
  width: 100%;
  height: auto;
  background-color: #fff;
  float: none;
}
.main-article article a:hover {
  text-decoration: underline;
}
.main-article article.contrasted {
  background-color: #000;
  color: #e8ac0a;
}
.main-article article.contrasted a {
  color: #fff;
}
.article-meta {
  color: #fff;
  text-align: center;
}
.article-meta a {
  color: #fff;
}
.article-meta address {
  border-top: none;
  width: auto;
  margin: auto;
  display: inline-block;
  white-space: nowrap;
  min-width: 200px;
  text-align: left;
}
.article-meta time {
  display: block;
}
.article-meta h2 {
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 3rem;
  margin: 1rem;
  color: #e8ac0a;
}
.article-meta .article-tags li {
  border: solid 1px #fff;
  margin: 4px;
  font-weight: normal;
}
.article-meta .article-tags li a {
  color: #fff;
}
.comments-container {
  background-color: #fff;
  margin-top: 2rem;
  padding: 1rem;
}
.comments-container a {
  color: #3498d9;
}
@media only screen and (min-width: 1140px) {
  article {
    width: 322px;
    height: 322px;
    margin: 0 10px 20px 10px;
  }
  article.recent {
    width: 492px;
    height: 492px;
  }
  .more-posts-wrapper,
  .go-to-top-wrapper {
    position: relative;
  }
  .more-posts-wrapper .decorator-line,
  .go-to-top-wrapper .decorator-line {
    width: 402px;
  }
}
.testimonials-container {
  background-color: #111;
  background: url("../img/testimonials-bg.png");
  background-size: 120% 100%;
  background-position: bottom center;
}
.testimonials {
  color: #fff;
  height: 400px;
  position: relative;
}
.testimonial {
  list-style: none;
  float: left;
}
.testimonial blockquote {
  margin: 0;
  padding: 1rem;
  font-family: Georgia;
  font-style: italic;
  font-size: 0.7rem;
  line-height: 1rem;
  border: solid 1px #e8ac0a;
  border-radius: 10px;
  position: relative;
  cursor: default;
  transition: background-color linear 0.2s;
}
.testimonial:hover blockquote {
  background-color: rgba(253,207,11,0.2);
}
@media only screen and (min-width: 1140px) {
  .testimonial {
    margin-top: 30px;
    width: 328px;
    height: 200px;
  }
  .testimonial blockquote {
    width: 290px;
  }
}
.footer-container {
  width: 100%;
/*background-color: #0b0b0b;*/
  position: relative;
  margin-top: -25px;
}
.footer-container a:hover {
  text-decoration: underline;
}
.footer-container .wrapper {
  color: #000;
  background-color: #fff;
  width: 100%;
  padding: 1rem;
  height: 90px;
}
.footer-container .footer-content {
  padding: 0 2rem;
}
.footer-container asside {
  float: left;
}
.footer-container .logo-desc {
  font-size: 0.7rem;
}
.footer-container .footer-desc {
  line-height: 0.8rem;
  font-family: Georgia;
  white-space: nowrap;
  float: left;
  padding: 0.8rem;
}
.footer-container .footer-logo {
  float: left;
}
.footer-container .social {
  height: 20px;
  margin: 1rem 0.7rem;
}
.footer-container .social .fb-like {
  position: relative;
  top: -9px;
}
.footer-container .js-logo {
  float: right;
}
.footer-container .credits {
  color: #fff;
  text-align: right;
  font-weight: bold;
  font-size: 0.7rem;
}
.footer-container .credits .designed-by {
  color: #e8ac0a;
  margin-left: 10px;
}
.footer-container .credits .designed-by a {
  color: #e8ac0a;
}
.footer-container .credits a {
  color: #fff;
  text-decoration: underline;
}
@media only screen and (min-width: 1140px) {
  .footer-container .credits,
  .footer-container .footer-content {
    width: 1026px;
/* 1140px - 10% for margins */
    margin: auto;
  }
  .footer-container .credits {
    padding-right: 100px;
  }
}
