<div class="header-container">
    <div class="decorator-line dl-1"></div>
    <div class="decorator-line dl-2"></div>
    <header class="wrapper clearfix">

        <div class="page-options">
            <span class="alternative-text text"> A collaborative website about the ECMAScript sixth edition, a.k.a. ES6.</span>
            <div class="languages">
                <a class="icon portuguese" href="/pt-br" >Ler em Português</a>
                <a class="icon english" href="/" >Read in English</a>
            </div>
            <div class="social">
                <!--a class="icons fb" href="http://fb.com/" ></a-->
                <a class="icon tt" href="http://twitter.com/es6rocks" >ES6Rocks on Twitter</a>
                <a class="icon gh" href="http://github.com/es6rocks" >ES6Rocks on Github</a>
            </div>
        </div>

        <div class="navigation-container">
            <nav class='navigation' style="visibility: hidden;">
                <a href="/posts">Posts</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </nav>

            <h1>
                <a href="{{config.domain}}" title="ES6 Rocks - News, tools, updates, tutorials and articles about ES6">
                    ES6 Rocks - News, tools, updates, tutorials and articles about ES6
                    <img class="es6-logo" src='/img/es6-logo.png' title="ES6Rocks Logo" alt="ES6 Rocks" />
                </a>
            </h1>

            <nav class="navigation-search" style="visibility: hidden;">
                <form>
                    <input id="ipt-search" type="search" placeholder="Search anything?" />
                    <span class="ipt-search-icon"></span>
                    <input type="submit" value="OK" />
                </form>
                <em class="popular-searches alternative-text">
                    Popular searches:
                    <a href="/search/es6">es6</a>, <a href="/search/userMedia">userMedia</a>, <a href="search/foo">foo</a>
                </em>
            </nav>

            <a href="https://github.com/es6rocks/es6rocks.github.io" class="send-a-post button">Send a post</a>

        </div>

    </header>
</div>