<div class="testimonials-container">
    <div class="testimonials wrapper">
        <h4 class="wrapper-label"><span class="icon love"></span><span>Testimonials</span></h4>

        <ul>
            <li class="testimonial">
                <blockquote>
                    "ES6 improves developer ergonomics massively and es6rocks.com will help you grok the benefit you can reap and how to get it today. Love it."
                    <span class="icon arrow"></span>
                </blockquote>

                <div class="author-block">
                    <img src="/img/paul_irish.jpeg" alt="Paul Irish" class="author-avatar" />
                    <span class="author-name">Paul Irish</span>
                    <a href="http://twitter.com/paul_irish" class="icon tt"></a>
                    <a href="http://github.com/paulirish" class="icon gh"></a>
                    <div class="author-company">Google</div>
                </div>
            </li>

            <li class="testimonial">
                <blockquote>
                    "ES6 Rocks is a brilliant initiative, if you're looking for relevant content about what's coming next for the JavaScript language, here's the place to find."
                    <span class="icon arrow"></span>
                </blockquote>

                <div class="author-block">
                    <img src="/img/zeno_rocha.jpeg" alt="Zeno Rocha" class="author-avatar" />
                    <span class="author-name">Zeno Rocha</span>
                    <a href="http://twitter.com/zenorocha" class="icon tt"></a>
                    <a href="http://github.com/zenorocha" class="icon gh"></a>
                    <div class="author-company">Liferay</div>
                </div>
            </li>

            <li class="testimonial">
                <blockquote>
                    Soon...<br>..<br>.
                    <span class="icon arrow"></span>
                </blockquote>

                <div class="author-block">
                    <img src="/img/guille.png" alt="Guillermo Rauch" class="author-avatar" />
                    <span class="author-name">Guillermo Rauch</span>
                    <a href="http://twitter.com/rauchg" class="icon tt"></a>
                    <a href="http://github.com/guille" class="icon gh"></a>
                    <div class="author-company">Automattic</div>
                </div>
            </li>
        </ul>
    </div>
</div>