transitionTime = .2s;
fullColor = #e8ac0a;
darkFullColor = #87732b;
lightColor = #e1e1e1;
alphaColor = rgba(253, 207, 11, .2);
blueish = #3498d9;

small = "only screen and (min-width: 480px)";
medium = "only screen and (min-width: 768px)";
large = "only screen and (min-width: 1140px)";
