
/* ==========================================================================
   Icons
   ========================================================================== */

.icon-group {
    position: relative;
    display: block;
    z-index: 1;
    height: 30px;
    text-align: center;
    margin: 10px;

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        height: 0;
        width: 100%;
        z-index: 0;
        border-top: solid 1px grey;
    }

    .icon {
        display: inline-block;
        float: none;
    }
}

.icon {
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    display: block;
    float: left;
    margin: 2px;
    position: relative;
    text-indent: -999999px;

    &:after {
        content: "";
        width: 0;
        height: 0;
        box-shadow: 0 0 30px 10px #fdcf0b;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: -1;
        opacity: 0;
        transition: opacity .2s;
    }

    &:hover:after {
        opacity: 1;
    }

    &.portuguese {
        background-position: -9px -5px;
    }
    &.english {
        background-position: -50px -6px;
    }

    &.fb {
        background-position: -75px 0;
    }
    &.tt {
        background-position: -125px 0;
    }
    &.gh {
        background-position: -165px 0;
    }
    &.fb-share {
        background-position: -254px 0;
    }
    &.tt-share {
        background-position: -294px 0;
    }
    &.gp-share {
        background-position: -333px 0;
    }

    &.font-up {
        background-position: -440px 0;
    }

    &.font-down {
        background-position: -476px 0;
    }

    &.contrast {
        background-position: -512px 0;
    }

    &.comments-label {
        background-position: -405px 0;
    }

    &.comments {
        background-position: -550px 0;
    }

    &.bolt {
        background-position: -195px 0;
    }

    &.love {
        background-position: -370px 0;

        &:hover:after {
            display: none; // no need for a hover effect
        }
    }
    &.arrow {
        background-position: -580px 0;
        position: absolute;
        bottom: -27px;
        left: 30px;

        &:hover:after {
            display: none; // no need for a hover effect
        }
    }
}
