.author-avatar {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: solid 2px #000;
    float: left;
    margin: 10px 10px 0 -10px;
    background: #fff;
}

.author-block {
    position: relative;
    z-index: 1;
    
    .author-avatar {
        margin-top: 16px;
    }
    
    .author-name {
        color: fullColor;
        font-size: 1.1rem;
        float: left;
        padding: 1.2rem 10px 0 0;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .icon {
        margin: 0;
        margin-top: 15px;
    }
    
    .author-company {
        display: block;
        clear: both;
        position: relative;
        bottom: 25px;
        left: 45px;
        font-size: .7rem;
    }
}