.social
    width: 100%
    padding: 0 5%
    background-color: #000
    overflow: hidden
    display: flex
    justify-content: space-between
    align-items: center

.social__list
    //@extends $container
    //text-align: right


.social__item
    display: inline-block
    font-size: 1.2rem
    margin: .5em 1em

.avatar
    //float: left
    display: none

    svg > path
        fill: white

    @media tp-s-2
        display: inline-block

    @media bp-m
        display: none



.social__link
    color: #fff

.social__link:hover path,
.social__link:focus path
    fill: yellow

.flags
    //width 165px
    //float left
    //margin-top 10px
    //margin-left 10px

.flags li
    display: inline-block
    font-size: 1.2rem
    margin: .5em .25em
